/* Base */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.page-wrapper {
    width: 100%;
}

.page__main {
    background-image: url(../img/Слой\ 9\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 15vh;
    background-color: #10101DE5;
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    transition: transform 0.3s ease-in-out;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.navigation {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation__link {
    color: white;
    text-decoration: none;
}

.navigation__link--active {
    color: #43ABF0 !important;
}

.menu-button {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 10;
    background: none;
    border: none;
}

.menu-button--hamburger span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* ------------------------------------------------- content block */

.content-block {
    width: 70%;
    margin: 5% auto;
    padding: 20px;
    padding-bottom: 100px;
    margin-bottom: 0;
}

.content-block>h1 {
    font-size: calc(1.5vw + 1em);
    text-transform: uppercase;
}

.content-block>h1>span {
    color: #43ABF0;
}

.content-block>p {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 5%;
}

.content-block>p>span {
    font-weight: 400;
    margin-top: 2%;
    margin-left: 1%;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}

.action-button {
    display: inline-block;
    background-color: #3E9CDC;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.3s;
    margin-top: 5%;
    width: 15%;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: lighter;
}

#more {
    background-color: white;
    color: black;
    border: 0.5px solid #6F6D7B;
}

.action-button--primary:hover,
.action-button--secondary:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

/* ------------------------------------------------------------------ Адаптивчики */
@media (max-width: 768px) {
    .header__container {
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    .navigation {
        width: 100%;
        flex-direction: row;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #10101DE5;
        border-top: solid 0.5px white;
        height: 5vh;
        align-items: center;
        clip-path: circle(75%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        justify-content: center;
        gap: 10%;
    }

    .navigation--open {
        opacity: 1;
        visibility: visible;
        clip-path: circle(100%);
    }

    .menu-button--hamburger {
        display: flex;
    }

    .action-button {
        width: 30%;
        font-size: small;
    }
}

@media (max-width: 1000px) {

    .header__container,
    .content-block {
        width: 80%;
    }
}

@media (max-width: 420px) {

    .header__container,
    .content-block {
        width: 90%;
    }

    .logo__image {
        width: 70%;
    }

    .navigation__link {
        font-size: small;
    }

    .header {
        height: 10vh;
    }

    .content-block>h1 {
        font-size: large;
        text-align: center;
    }

    .content-block>p {
        font-size: small;
        text-align: center;
    }

    .action-button {
        margin: auto;
        width: 30%;
        font-size: small;
    }
}

/* ------------------------------------------------------------------- Orders */

.page__orders {
    background-image: url(../img/Слой\ 1\ 1.png);
    background-size: cover;
    background-color: #272733;
    margin-top: 0;
    width: 100%;
    padding-top: 5%;
    margin-bottom: 0;
    padding-bottom: 5%;
}

.page__orders>h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.page__orders>h1>span {
    color: #3E9CDC;
}

.page__orders>p {
    color: #BBBBBB;
    margin-top: 2%;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 5% auto;
    gap: 1.5%;
}

.row__circle {
    background-color: #3E9CDC;
    border-radius: 50%;
    border: solid #286690 5px;
    padding: 13px;
    text-align: center;
    margin: auto;
    transition: background-color 1s ease-in-out;
}

@media (max-width: 768px) {

    .animate-circle,
    .animate-img {
        animation-play-state: paused;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .row__circle {
        flex-basis: auto;
        margin: 20px 0;
    }

    .page__orders>p {
        margin-top: 4%;
    }

    .row {
        gap: 4px;
    }
}

@media (max-width: 480px) {
    .page__orders>h1 {
        font-size: 1.5em;
    }

    .page__orders>p {
        font-size: 0.9em;
    }

    .row__circle {
        padding: 5px;
    }

    .row {
        gap: 5px;
    }
}

@media(max-width: 1200px) {
    .row {
        width: 80%;
        margin: 5% auto;
    }

    .row__circle {
        padding: 5px;
        margin: auto;
    }

    .row__circle>img {
        width: 80%;
    }
}

/* Толкаем анимацию */

.animate-circle {
    animation: floatUp 1s forwards;
}


.animate-img {
    animation: floatUpImg 1s forwards;
}


@keyframes floatUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes floatUpImg {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

/* Groups */
.groups {
    display: flex;
    flex-direction: row;
    width: 72%;
    margin: 5% auto;
    gap: 2%;
    align-items: center;
    flex-wrap: wrap;
}

.groups__dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    align-items: center;
    height: 6vh;
    color: #272733;
    background-color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.groups__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    align-items: center;
    height: 6vh;
    color: #272733;
    border-radius: 3px;
    border: none;
    background-color: #FFFFFF;
    outline: none;
}

.groups__input::placeholder {
    color: #272733;
    opacity: 1;
}

.groups__container {
    display: flex;
    flex-direction: column;
    width: 62.5%;
}

.groups__container-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.groups__container-text>p {
    color: white;
    margin-bottom: 5px;
}

.groups__container>input {
    width: 100%;
}

.groups__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    align-items: center;
    height: 6vh;
    color: #272733;
    background-color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    gap: 2%;
}

.endButton {
    width: 25%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    height: 6vh;
    background-color: #3E9CDC;
    align-items: center;
    color: white;
    text-transform: uppercase;
    border: 1px white solid;
    border-radius: 4px;
    cursor: pointer;
}

@media(max-width:768px) {
    .groups {
        flex-direction: column;
        gap: 5px;
    }

    .groups__dropdown,
    .groups__input,
    .groups__container,
    .groups__button {
        width: 100%;
    }
}

/* ----------------------------------------Отзывы */

.reviews {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 100%;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}

.reviews>h2 {
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.reviews>p {
    color: #73818e;
    font-size: 20px;
    margin-top: 1.5%;
}

.reviews-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: 2% auto;
}

.reviews-block__text {
    height: 50vh;
}

.reviews-block>span {
    width: 100%;
}

.review-slide {
    display: none;
    animation: slide 1s forwards;
    font-size: 1.5rem;
    color: white;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}



.star {
    width: 25px;
    color: rgb(234 179 8);
}

.review-slide.active {
    display: block;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.reviews-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: white;
}

@media(max-width: 768px) {
    .reviews-block {
        height: 30vh;
    }

    .reviews>h2 {
        font-size: large;
    }

    .reviews>p {
        font-size: medium;
    }

    .reviews-block>span {
        width: 50%;
    }

    .review-slide {
        font-size: 15px;
    }
}

/* Footer */

.footer {
    width: 100%;
    margin-top: 0;
    background-color: #3D4050;
    align-items: center;
    display: flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.footer__container {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;
    gap: 3%;
    margin: 0 auto;
    align-items: center;
}

.footer__container>p {
    color: white;
    font-size: small;
}

.footer__container-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    color: white;
}

.footer__container-icons>a {
    text-decoration: none;
    color: white;
}

.footer__container-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.footer__container-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;

}

@media(max-width:1000px) {
    .footer__container {
        flex-direction: column;
    }

    .footer {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .footer__container>p {
        font-size: large;
    }

    .footer__container-middle {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .footer__container-end {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .footer__container-icons {
        font-size: large;
    }
}

@media(max-width: 500px) {
    .footer__container-icons {
        font-size: small;
    }
}