/* Base */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.page-wrapper {
    width: 100%;
}

.page__main {
    background-image: url(../img/Слой\ 9\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 15vh;
    background-color: #10101DE5;
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0;
    transition: transform 0.3s ease-in-out;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.navigation {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation__link {
    color: white;
    text-decoration: none;
}

.navigation__link--active {
    color: #43ABF0 !important;
}

.menu-button {
    display: none; 
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 10;
    background: none;
    border: none;
}

.menu-button--hamburger span {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* ------------------------------------------------- content block */

.content-block {
    width: 70%;
    margin: 5% auto;
    padding: 20px;
    padding-bottom: 100px;
}

.content-block > h1 { 
    font-size: calc(1.5vw + 1em);
    text-transform: uppercase;
}

.content-block > h1 > span {
    color: #43ABF0;
}

.content-block > p {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 5%;
}

.content-block > p > span {
    font-weight: 400;
    margin-top: 2%;
    margin-left: 1%;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}

.action-button {
    display: inline-block; 
    background-color: #3E9CDC; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    text-align: center; 
    text-decoration: none; 
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.3s;
    margin-top: 5%;
    width: 15%;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: lighter;
}

#more {
    background-color: white;
    color: black;
    border: 0.5px solid #6F6D7B;
}

.action-button--primary:hover,
.action-button--secondary:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-out;
}

/* ------------------------------------------------------------------ Адаптивчики */
@media (max-width: 768px) {
    .header__container {
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    .navigation {
        width: 100%;
        flex-direction: row;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #10101DE5;
        border-top: solid 0.5px white;
        height: 5vh;
        align-items: center;
        clip-path: circle(75%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        justify-content: center;
        gap: 10%;
    }

    .navigation--open {
        opacity: 1;
        visibility: visible;
        clip-path: circle(100%);
    }

    .menu-button--hamburger {
        display: flex;
    }

    .action-button {
        width: 30%;
        font-size: small;
    }
}

@media (max-width: 1000px) {
    .header__container, .content-block {
        width: 80%;
    }
}

@media (max-width: 420px) {
    .header__container, .content-block {
        width: 90%;
    }

    .logo__image {
        width: 70%;
    }

    .navigation__link {
        font-size: small;
    }

    .header {
        height: 10vh; 
    }

    .content-block > h1 {
        font-size: large;
        text-align: center;
    }

    .content-block > p {
        font-size: small;
        text-align: center;
    }

    .action-button {
        margin: auto;
        width: 30%;
        font-size: small;
    }
}